<!DOCTYPE html>
<html>
  <head>
    <title>Stephan Schmiedmayer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Header Section -->
    <header
      class="bg-cover bg-center h-screen"
      style="background-image: url('/static/images/munich.jpg')"
      id="header"
    >
      <nav class="bg-transparent text-white text-lg sticky top-0">
        <ul class="flex justify-center pt-8">
          <div></div>
          <div
            class="flex justify-center space-x-4 rounded-xl py-2 px-4 bg-black/40 shadow-lg ring-1 ring-black/5 backdrop-blur"
          >
            <li><a href="#header" class="hover:underline">Home</a></li>
            <li><a href="#about-me" class="hover:underline">Projects</a></li>
            <li><a href="#" class="hover:underline">Skills</a></li>
            <li><a href="#" class="hover:underline">Experience</a></li>
            <li><a href="#" class="hover:underline">Education</a></li>
            <li><a href="#" class="hover:underline">Contact</a></li>
          </div>
          <div></div>
        </ul>
      </nav>

      <!-- Main Content -->
      <div class="text-center text-white mt-32">
        <h1 class="text-6xl font-bold">Stephan Schmiedmayer</h1>
        <p class="text-2xl mt-4">
          CS Student, Research Assistant & Fraunhofer AISEC
        </p>
      </div>

      <!-- Scroll Down Indicator -->
      <div class="absolute bottom-0 mb-10 w-full text-center background">
        <span class="text-white py-1 px-4">scroll down</span>
        <div class="mt-2">
          <svg
            class="mx-auto"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M12 5v14M19 12l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 mb-4 mr-4 text-slate-600 text-sm">
        <a
          href="https://unsplash.com/@danielsessler?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >Daniel Seßler</a
        >
        on
        <a
          href="https://unsplash.com/photos/aerial-photo-of-cityscape-during-daytime-euJvKWK3y7s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >Unsplash</a
        >
      </div>
    </header>

    <div class="bg-white text-center p-5 overflow-x-auto whitespace-nowrap">
      <a href="https://www.tum.de/en/">
        <img
          src="static/images/TUM.svg.png"
          alt="TUM Logo"
          class="inline-block h-20 mx-2 align-middle"
        />
      </a>
      <a href="https://www.utexas.edu/">
        <img
          src="static/images/UT_Austin.png"
          alt="University of Texas at Austin Logo"
          class="inline-block h-20 mx-2 align-middle"
        />
      </a>
      <a href="https://www.quartett-mobile.de/index-en.html">
        <img
          src="static/images/QM_logo.png"
          alt="Quartett mobile Logo"
          class="inline-block h-20 mx-2 align-middle"
          href="https://www.quartett-mobile.de/index-en.html"
        />
      </a>
      <a href="https://convalid-ai.de/">
        <img
          src="static/images/Convalid_short.png"
          alt="Convalid Analytics Logo"
          class="inline-block h-20 mx-2 align-middle"
        />
      </a>
      <a href="https://www.aisec.fraunhofer.de/">
        <img
          src="static/images/AISEC.png"
          alt="Fraunhofer AISEC Logo"
          class="inline-block h-20 mx-2 align-middle"
        />
      </a>
    </div>

    <!-- <div id="logos" class="flex fex-row max-h-24 justify-evenly">
      <img src="/static/images/TUM.svg.png">
      <img src="/static/images/UT_Austin.png">
    </img></div> -->
    <div id="about-me"></div>

    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
      >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2024
          <a href="https://stephan.schmiedmayer.com/" class="hover:underline"
            >Stephan Schmiedmayer</a
          >. All Rights Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
          <!-- <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li> -->
        </ul>
      </div>
    </footer>
  </body>
</html>
