@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
    margin: 0;
}

.body-bg {
    @apply bg-slate-100;
}

.circle-mask {
    -webkit-mask-image: radial-gradient(circle, white 100%, transparent 100%);
    mask-image: radial-gradient(circle, white 100%, transparent 100%);
}

.dark-drop-shadow {
    filter: drop-shadow(0 0 20px rgb(0 0 0));
}